<ion-header>
  <ion-navbar color="danger" hideBackButton>
    <ion-title *ngIf="navParams.get('data').firstname"> {{ navParams.get('data').firstname }}'s Dashboard </ion-title>
    <ion-title *ngIf="navParams.get('data').firstname == ''"> MyDashboard </ion-title>
    <button id="popover" icon-only (click)="presentPopover($event)">
      <ion-icon name="more"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>

<ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
</ion-refresher>

<ion-list *ngFor="let data of tabs;" no-lines>

    <ion-card>
      <ion-card-header>
        <div class="topHead">
          <span class="source">{{ data.source }}</span>
          <button class="delete" icon-only (click)="deleteTab($event);">
            <ion-icon name="close"></ion-icon>
          </button>
          <div class="clear"></div>
        </div>
        <div class="bottomHead">
          <div class="description">{{ data.description }}</div>
          <div class="settings">
            <ng-container *ngFor="let options of data.chart.chartOptions;">
              <button class="typeSelected" icon-only *ngIf="options.selected==1" (click)="updateChart($event);">
                <ion-icon class="iconTypeSelected" [name]="options.icon"></ion-icon>
                <div class="id">{{ options.type }}</div>
              </button>
              <button class="type" icon-only *ngIf="options.selected==0" (click)="updateChart($event);">
                <ion-icon class="iconType" [name]="options.icon"></ion-icon>
                <div class="id">{{ options.type }}</div>
              </button>
            </ng-container>
            <div class="clear"></div>
          </div>
        </div>
      </ion-card-header>
      <div class="id">{{ data.id }}</div>
      <ion-card-content>
        <div class="chartContainer">
          <canvas class="chart"></canvas>
        </div>
        <div class="details">
          <div *ngIf="data.details.detailsOptions" class="descriptionDetails">Details</div>
          <button class="hideButtonDetails" *ngIf="data.details.detailsOptions" icon-only (click)="toggleDetails($event);">
            <ion-icon class="detailsUp" name="arrow-forward"></ion-icon>
            <ion-icon class="detailsDown" name="arrow-down"></ion-icon>
          </button>
          <div class="detailsForm" *ngIf="data.details.detailsOptions">
            <div class="paramGroup">
              <ng-container *ngFor="let details of data.details.detailsOptions;">
                <ion-item *ngIf="details.dependence==1">
                  <ion-label>{{ details.name }}</ion-label>
                  <ion-select okText="Select" cancelText="Cancel" [(ngModel)]="details.paramName">
                    <ng-container *ngFor="let element of details.elements;">
                      <ng-container *ngIf="element.enable==1">
                        <ion-option *ngIf="element.filter==data.details.detailsOptions[details.indexOfDependence].paramName" [value]="element.value">{{ element.name }}</ion-option>
                      </ng-container>
                      <ng-container *ngIf="element.enable==0">
                        <ion-option disabled *ngIf="element.filter==data.details.detailsOptions[details.indexOfDependence].paramName" [value]="element.value">{{ element.name }}</ion-option>
                      </ng-container>
                    </ng-container>
                  </ion-select>
                </ion-item>
                <ng-container *ngIf="details.dependence==0">
                  <ion-item *ngIf="details.independence==0">
                    <ion-label>{{ details.name }}</ion-label>
                    <ion-select okText="Select" cancelText="Cancel" [(ngModel)]="details.paramName">
                      <ion-option [value]="all">All</ion-option>
                      <ng-container *ngFor="let element of details.elements;">
                        <ion-option *ngIf="element.enable==1" [value]="element.value">{{ element.name }}</ion-option>
                        <ion-option *ngIf="element.enable==0" disabled [value]="element.value">{{ element.name }}</ion-option>
                      </ng-container>
                    </ion-select>
                  </ion-item>
                  <ion-item *ngIf="details.independence==1">
                    <ion-label>{{ details.name }}</ion-label>
                    <ion-select okText="Select" cancelText="Cancel" [(ngModel)]="details.paramName">
                      <ng-container *ngFor="let element of details.elements;">
                        <ion-option *ngIf="element.enable==1" [value]="element.value">{{ element.name }}</ion-option>
                        <ion-option *ngIf="element.enable==0" disabled [value]="element.value">{{ element.name }}</ion-option>
                      </ng-container>
                    </ion-select>
                  </ion-item>
                </ng-container>
              </ng-container>
            </div>
            <button *ngIf="data.details.detailsOptions" ion-button color="danger" (click)="drawDetails($event);">Update</button>
            <button class ="resetDetails" *ngIf="data.details.detailsOptions" ion-button color="light" (click)="resetDetails($event);">Reset</button>
            <div *ngIf="data.details.detailsOptions"></div>
            <button class ="exportDetails" *ngIf="data.details.detailsOptions" ion-button color="danger" (click)="openIn($event);">Export</button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>


</ion-list>

</ion-content>
