        #popover2 ion-icon {
            color: white;
        }
        #popover2 {
            display: block;
            float: right;

            padding: 0;
            
            position: relative;
            right: -2vh;
            top: -1.5vh;

            background: #f53d3d;

            width: 30pt;
            height: 30pt;
        }
